# FastAPI
LANGFUSE_SECRET_KEY=sk-...
LANGFUSE_PUBLIC_KEY=pk-...
OLLAMA_HOST=http://host.docker.internal:11434

#vector-db
VECTOR_DB_PASSWORD=password
VECTOR_DB_DATA_PATH=./local_data/vector_db_data

# Record Manager Database (Postgres)
RECORD_MANAGER_DB_PASSWORD=password
RECORD_MANAGER_DB_DATA_PATH=./local_data/record_manager_db_data

# Langfuse Server
LANGFUSE_AUTH_DISABLE_SIGNUP=true
LANGFUSE_SECRET=secret
LANGFUSE_SALT=salt
LANGFUSE_ENCRYPTION_KEY=0000000000000000000000000000000000000000000000000000000000000000
LANGFUSE_URL=http://localhost:3001
LANGFUSE_TELEMETRY_ENABLED=false
LANGFUSE_EXPERIMENTAL_FEATURES=false

# Langfuse Database (Postgres)
LANGFUSE_DB_PASSWORD=password
LANGFUSE_DB_DATA_PATH=./local_data/langfuse_db_data